body{
  font-family:Arial, Helvetica, sans-serif;
}

#promo{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/background.jpg);
  background-size:cover;
  margin-top:65px;
}

@media (max-width:1199px) {
  #promo{
    padding:20px;
  }
}

#promo .jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(225,225,225,0.75);
  max-width:800px;
  margin:auto;
}

@media (max-width:1199px) {
  #promo .jumbotron{
    padding:20px;
  }
}

.site-section{
  text-align:center;
  padding-bottom:70px;
}

#welcome .p{
  max-width:800px;
  font-size:20px;
  margin:auto;
  color:#666;
}

#why .item p{
  color:#9ba8c8;
}

.site-section h1{
  font-weight:normal;
  margin-bottom:30px;
  margin-top:60px;
}

#why .item i{
  padding-top:36px;
  font-size:42px;
  margin:20px;
  color:#e7468e;
}

#why .item h2{
  font-weight:normal;
  margin-bottom:20px;
  font-size:30px;
}

.dark-section{
  background-color:#eff7fb;
}

#logo{
  max-height:42px;
  margin-right:10px;
  margin-top:-3px;
  display:inline-block;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color:rgb(242,242,128);
  border-color:transparent;
}

